<h1>Fastboot Error Demo</h1>
<h2>This will emit an error from the JsError component in fastboot-mode</h2>
<p>If you turn off JS execution and hard refresh you will notice that the content below this text will not render. If JS execution is turned on the application will rehydrate and repair the mangled content that was served from fastboot</p>
<JsError />
{{outlet}}